// Stylistic overrides per project
$font-family-sans-serif: "Open Sans", sans-serif;
$btn-font-weight: normal;
$border-radius: 3px;
$input-color-placeholder: #999;
$text-muted: #777;
$input-line-height: 28/16;
$btn-line-height: 28/16;
$input-padding-x: 1rem;
$input-btn-border-width: 2rem/16;
$form-group-margin-bottom: 0.5rem;

// #777 contrasts better with both black and white
$btn-secondary-bg: #777;
$btn-secondary-color: white;
$btn-secondary-border: #777;

$blue: #1177ee;
$red: #ee4411;
